.previousInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 12px;
}

.previousValue {
  display: flex;
  align-items: center;
  gap: 8px;
}

.previousValueText {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.34);
}
