.focusTracker {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
}

.hint {
  font-size: 16px;
}
